<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="systemSuite">
  <test thread-count="5" name="Test">
   <groups>
	<run>
		<exclude name="system"></exclude>
	</run>
   </groups>
    <classes>
      <class name="grouping.Testcase2"/>
      <class name="grouping.Testcase1"/>
      <class name="grouping.Testcase4"/>
      <class name="grouping.Testcase3"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
